.mode{
    z-index: 100;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 20px;
    background-color: aqua;
    
    
  }
  .mode>input{
    border-radius: 20px;
    
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider{
    border-radius: 20px;
    position:absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 88, 88);
  }
  .slider::before{
    border-radius: 20px;
    position:absolute;
    content: '';
    height: 26px;
    width: 26px;
    bottom: 4px;
    left: 4px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
  }
  input:checked + .slider{
    border-radius: 20px;
    background-color: rgba(0, 200, 255, 0.949);
  }
  
  input:checked + .slider::before{
    border-radius: 20px;
    transform: translateX(26px);
    background-color: rgb(0, 0, 0);
  }